 /* mobile first  */

 html {
 --color-one: #D9DBE8;
 --color-two: #a06cd5;
 --color-three: #fafafa;
 --color-four: #6247aa;
 --box-shaddow: rgba(108, 112, 116, 0.438) 0px 8px 24px;
 background-color: var(--color-one);
 font-family: "Lora", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 62.5%;
 margin: 0;
 padding: 0;
 }

 body {
	 font-size: 1.6rem;
 }

 #wrapper {
	display: block;
	width: 80vw;
	background-color: var(--color-three);
	box-shadow: var(--box-shaddow);
	margin: 0 auto;
	padding: 10px;
}

h1 {
	text-align: center;
	color: var(--color-three);
	background-color: var(--color-two);
	padding: 10px;
	box-shadow: var(--box-shaddow);
	width: 80vw;
	margin: 20px auto;
	font-size: 2.5rem;
}

form {
	display: flex;
	align-items: center;
}

form input[type="text"] {
	line-height: 35px;
	width: 70vw;
	margin-right: 0.2em;
	font-size: 1.2em;
}

.fa-plus {
	color: var(--color-three);
	font-size: 3rem;
}

#submit {
	line-height: 40px;
	height: 40px;
	width: 40px;
	font-size: 3rem;
	background-color: var(--color-two);
	border-radius: 50%;
	border:none;
	transition: all 0.5s ease-in-out;
	margin: 5px;
}

#submit:hover {
	transform: scale(1.1); 
  background-color: var(--color-one);
  color: var(--color-five);
  cursor: pointer;
	box-shadow:var(--box-shaddow);
}

.fa-plus:hover {
	color: var(--color-four);
}

ul#todoList {
	list-style: circle;
	padding: 0;
	margin: 0;
}

li.list-item {
	display: flex;
	margin-bottom: 0.5em;
	height: auto;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li.list-item > label {
	width: 80%;
	margin-right: 0.5em;
	line-height: 45px;
	height: 100%;
	padding: 0 0.5em;
	font-size: 1.2em;
}

li.list-item > button {
	width: 10%;
	margin-right: 0.2em;
	color: red;
	font-size: 2.5em;
	height: 50px;
	font-weight: bold;
}

li.list-item > input[type="checkbox"] {
	width: 10%;
	height: 45px;
}

li.list-item > button:hover,
li.list-item > input[type="checkbox"],
li.list-item > label:hover {
	cursor: pointer;
}


 /* Tablet and above */
@media screen and (min-width: 768px) {
	h1 {
		width: 70vw;
	}
}

